<div class="container">

    <!--FILTER -->
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field>

    <!--TABLE -->
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

         <!--CREATED -->
         <ng-container matColumnDef="created">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CREATED </th>
            <td mat-cell *matCellDef="let row"> {{row.created | date:'dd/MM/yyyy' }} </td>
        </ng-container>
        <!--LAST UPDATE -->
        <ng-container matColumnDef="lastUpdate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> LAST UPDATE </th>
            <td mat-cell *matCellDef="let row"> {{row.lastUpdate | date:'dd/MM/yyyy'}} </td>
        </ng-container>
        <!--NAME -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
        <!--STATE -->
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> STATE </th>
            <td mat-cell *matCellDef="let row" class="state-cell">{{row.state}}</td>
        </ng-container>
        <!--STATUS -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> STATUS </th>
            <td mat-cell *matCellDef="let row"> {{row.status}} </td>
        </ng-container>
        <!--ACTIONS -->
        <ng-container matColumnDef="info">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let row">
                <button (click)="search(row.name)" mat-icon-button color="primary">
                    <mat-icon>search</mat-icon>
                </button>
                <button (click)="edit(row.id)" mat-icon-button color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="delete(row.id)" mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5,10,20]"
        aria-label="Select page of GitHub search results"></mat-paginator>
</div>